.chart {
    -fx-background-color: #52555b;
}

.chart-title {
    -fx-text-fill: #E1E6EF;
    -fx-font: bold 40px "Tahoma";
    -fx-wrap-text : true;
}

.chart-bar {
    -fx-bar-fill: #92abb9;
}

.axis-label {
    -fx-text-fill: #E1E6EF;
    -fx-font: 20px "Tahoma";
}

.chart-pie-label {
    -fx-fill: #E1E6EF;
    -fx-font-size: 1.5em;
}

.axis {
    -fx-tick-label-font: 15px "Tahoma";
    -fx-tick-label-fill: #E1E6EF;
}

.chart-plot-background {
    -fx-background-color: transparent;
}